* {
    margin: 0;
    font-family: 'Nunito';
    font-size: 20px;
}

body{
    display: flex;
    flex-direction: column;
}

main{
    background-color: #f5f5f5;
}

/*NAVBAR*/

.header{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: white; 
    box-shadow: 1px 1px 6px #888888; 

}

.navbar{

    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;    
    transition: 1s;
}

.navbar a{
    font-size: 20px;
    color: rgb(48, 48, 48);
}

.navbar li{
    list-style:none;
}


.link {
    text-decoration: none;
    /* color: rgb(0 124 183); */
    
}

.link h1{
    display: none;
}

.link img{

    height: 50px;
}

.link:hover{
    color: rgb(131, 118, 118) !important;
}


.view-college a:hover{
    color: #5d6571;
}


.icon-responsive{
    display: none;
    color: black; 
}

.dropdown-item{
    color: #434343 !important;
}


/*navbar responsive*/

.navbar-responsive{
    background-color: rgb(107, 107, 107);
    flex-direction: column;
    position: fixed;
    transition: .5s;
    left: -100%;
    top: 70px;
    width: 100%;
    box-shadow: 0 4px 2px -2px #888888;
 }

 .showmenu{
    display: none;
}

 .responsive-link{
    padding: 10px;
    border-bottom: solid white 1px;
    /* color: rgb(239, 239, 239); */
    /* background-color: #4d7ecb; */
    background-color: #69abab;
    color: white !important;
 }



/* carrusel */

.container-slide{
    background-color: aliceblue;
    height: auto;
    overflow: hidden;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.container-slide-responsive{
    display: none;
    background-color: aliceblue;
    height: auto;
    overflow: hidden;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.carousel-slide{
    display: flex;
    flex-direction: row;
    width: 200%;
    transition: 1s;
}

.carousel-items{
    width: 100vw;
}

.carousel-items img{
    width: 100%;
    height: 100%;
    filter: brightness(90%);
    text-align: center;
}


.carousel-items video{
    width: 100%;
    height: 100%;
    filter: brightness(90%);
    text-align: center;
}


.icon-container{
    display: flex;
    position:absolute;
    height: 100%;
    padding: 0px 5px 0px 5px;
    width: 100%;
    justify-content: space-between;
    margin: auto;
    top: 0;
    align-items: center;
}


.icon-container i{
    cursor: pointer;
    color: white;
    padding: 10px;
    background-color: #6c6c6c;
    border-radius: 20px;
}


.icon-container i:hover{
    color: rgb(218, 218, 218);
}


/* contenedor de secciones */
.container-section{
    padding:30px 0;

}


/* PAGINA ACTUAL*/


.breadcrumb-trail {
    list-style: none;
    display: flex;
    text-align: center;
  }
  
  .breadcrumb-trail li {
    margin-right: 15px;
   
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .breadcrumb-trail a {
    color: #666;
    text-decoration: none;
    font-size: 15px;
  }

  .breadcrumb-trail i {
    font-size: 15px;
    padding-left: 5px;
  }


  
  .breadcrumb-trail li:last-child {
    color: #333;
    font-size: 17px;
    font-weight: bold;
  }

















/* CATEGORIAS */

.container-cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.text-section{
    margin-bottom: 40px;
    text-align: center;
}

.text-section h1{
    margin-bottom: 5px;
    font-size: 2rem;
    color: rgb(60, 193, 193);
}


.container-box{
    width: 330px;
    height: 400px;
    margin-bottom: 20px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    background-color: white;
    border-radius: 10px;
    padding-bottom: 10px;
    border: solid 1px #ada3a455;
}


.container-box img {
    width: 100%;
    height: 70%;
    border-radius: 5px 5px 0px 0px;
    object-fit: cover;
}


.text-button{
    width: 100%;
    height: 30%;
    padding: 20px 10px 20px 10px;
    text-align: center;
}

.text-button h2, a{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-size: 30px;
    color: #626262;
}


.button{
    display: block;
    width: 100%;
    border-radius: 0.5rem;
    padding: .5rem .5rem;
    font-size: 1rem;
    color: white;
    background-color: rgb(43, 184, 194);
    cursor: pointer;
    text-transform: capitalize;
    text-align: center;
    border: none;
}

.button:hover{
    background-color: rgb(33, 133, 140);
    color: white;
}


/* SECTION */


.flex-row{
    display: flex;
    flex-direction: row;
}

.section-content{
    background-color: aliceblue;
}



.section-left{
    width: 50%;
    padding: 20px;
}

.section-right{
    width: 50%;
    padding: 20px;
    object-fit: cover;
}

.section-right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-right{
    object-fit: cover;
}


.padding-top{
    padding-top: 30px;
}


.about-us p{
    color: rgb(64, 64, 64);
    text-align: justify;
    padding-top: 20px;
}

.about-us h2{
    color: rgb(60, 193, 193);
}


/******************* Formulario de contacto **********************/



.errorForm{
    padding: 10px;
    color: red;
}

.successForm{
    padding: 10px;
    color: green;
}


.heading-form {
    text-align: center;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: rgb(60, 193, 193);
}




.form-container{
    padding: 15px;
    border: none;
    display: flex;
    flex-direction: column;
    box-shadow: 0 .5rem 1rem 8px rgba(0,0,0,.1);
    border-radius: 7px;
    background-color: white;
}

.flex-input{
    display: flex;
    flex-wrap: wrap;
}


.inputBox{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}


.inputBox input, select{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #f5f5f5;
    padding-left: 10px;
}

.inputBox span{
    padding-bottom: 10px;
}


.inputBox textarea{
    width: 100%;
    border: none;
    height: 80px;
    background-color: #f5f5f5;
    padding-left: 10px;
}


.inputBox input, textarea, span, select {
    font-size: 1rem;
    color: #666;
    align-items: center;
}

/* COLEGIOS*/


.college-container{
    padding-bottom: 0;
    height: 250px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    overflow: scroll;
    background-color: white;
    border-radius: 5px !important;
    box-shadow: 0 .5rem 1rem 7px rgba(0,0,0,.1);
}

.college-page {
    justify-content: center !important;
    height: 300px !important;
}


.college-page img {
    height: 50%;
    object-fit: contain !important;
}


.text-college h2{
    width: 100%;
    padding-top: 10px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: #626262;
}

/*scroll colegios*/

.college-container::-webkit-scrollbar {
    -webkit-appearance: none;
    
}

.college-container::-webkit-scrollbar:vertical {
    width:10px;
    
}

.college-container::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
    
} 

.college-container::-webkit-scrollbar:horizontal {
    height: 10px;
    
}

.college-container::-webkit-scrollbar-thumb {
    background-color: #a3b1c6;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.college-container::-webkit-scrollbar-track {
    border-radius: 10px;  
}

.college{
    height: 100%;
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 20px;   
    padding-right: 20px;  
}


.college h3{

    font-size: 15px;
    padding-bottom: 10px;
    height: 46px;
    color: rgb(146, 146, 146);
}

.college-img{
    height: 70%;
    width: 140px;
    background-color: #ffffff;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 10px;
    border-radius: 90px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.college-img img{
    height: 80%;
}


/* boton whatsapp*/



.btn-wsp{
    position: fixed;
    width: 75px;
    height: 75px;
    bottom: 30px;
    right: 40px;
    z-index: 1;
    
}





.btn-wsp a{
    width: 100%;
    height: 100%;
    background-color: rgb(12, 184, 12);
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 1px 1px rgb(110, 110, 110);
    animation: wsp-animated 2.5s infinite;
}


@keyframes wsp-animated {
    0% { filter:brightness(1) ; }
    50% { filter:brightness(1.5) }
    100% { filter:brightness(1); }
  }


.btn-wsp a:hover{
    background-color: green;
    cursor: pointer;
}


.btn-wsp i{
    font-size: 55px;
    color: rgb(249, 249, 249);
}


/* Footer container*/

.bg-footer{
    background-color: #fbfbfb;
}

.footer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.text-footer a{
    font-size: 20px;
}

.text-center a{
    font-size: 20px;
}



.box-footer{
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 250px;
    margin: 10px;
    padding: 30px 10px 10px 10px;
    background-color: white;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.box-footer span, p{
    margin: 0;
    padding-bottom: 5px;
    color: #666;
}

.box-footer h3{
    padding-top: 5px;
    font-size: 20px;
    font-weight: 700;
    color: black;
}

.box-footer i{
    background-color: rgb(45, 204, 215);
    padding: 20px;
    color: white;
    border-radius: 30px;
}


.credit{
    text-align: center;
    background-color: #888888;
}





/* MAPS*/


.container-maps{
    width: 100%;
    height: 400px;
}

.container-maps iframe{
    width: 100%;
    height: 100%;
}


.info-map{
    padding-top: 35px;
}

.help-container{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}


.help-est{
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 500px;
    padding-bottom: 5px;
}

.text-est{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-est p{
    color: rgb(58, 58, 58);
    font-size: 15px;
}


.help-est img{
    width: 100%;
    height: 85%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: 5px;
}

.img-est{
    object-fit: cover;
}



/*DEPORTES*/

.container-sport{
    width: 100%;
    background-color: white;
    display: flex;
    padding: 30px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

.carousel-image {
    position: absolute;
    width: 100%;
    height: 100%;
  }

.sport-background{
    width: 600px;
    position: relative;
}


.sport-background img {
    width: 100%;
    object-fit: cover;
}

.sport-text{
    padding: 15px;
    width: 400px;
}

/* PRODUCTOS */

.container-product{
    position: relative;
    width: 350px;
    height: 500px;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    background-color: white;
    border-radius: 5px;
    border: solid 1px #ada3a455;
}

.referential{
    position: absolute;
    top: 0;
    left: 0;

}

.referential p {
    font-size: 10px;
}

.container-product h2{
    width: 100%;
    text-align: center;
    border-bottom: rgb(163, 163, 163) solid 1px;
    font-size: 25px;
   
}

.container-product h5{
    padding-top: 10px;
}


.container-product img {
    width: 100%;
    height: 60%;
    object-fit: contain;
}


.product-detail{
    width: 90%;
}

.product-detail p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    padding-bottom: 0;
    margin: 0;
}

.product-detail b {
    font-size: 16px;
}


.talla-detail:hover{
    background-color: rgb(200, 200, 200);
    cursor: pointer;
}


.not-avaible-container{
    width: 80%;
    height: 300px;
    border-radius: 20px;
    text-align: center;
    background-color: rgba(89, 89, 89, 0.804);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 1px 8px #888888;

}

.not-avaible-container p, h3{
    color: rgb(235, 235, 235);
}








.re-box{
    display: flex;
    position: fixed;
    top: 70px;
    width: 100%;
    height: 100vh;
    background-color: #212121e1;
    justify-content: center;
    z-index: 2;
    
}



.re-content{
    top: 30px;
    margin: 10px;

    width: 80%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    position: relative;

    align-items: center;
    
    
}

.re-content::-webkit-scrollbar {
    display: none;
   }


.videobox-re{
    display: none;
}


.videobox-re img{
    width: 100%;  
    height: 80%;
    object-fit: contain;
    border-radius: 20px;
}
   

.videobox img{
 
    height: 40%;
    object-fit: contain;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
   
.videobox-re video{
    width: 100%;  
    height: 100%;
    object-fit: contain;
    border-radius: 20px;
}
   

.videobox video{
    width: 100%;  
    height: 100%;
    object-fit: contain;
    border-radius: 20px;
}



.re-close-button{
    padding: 15px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    
}


.re-close-button:hover{
    cursor: pointer;
}
    
.re-close-button i{
    font-size: 25px;
    color: #5a5a5a;
    cursor: pointer;
}


/*ALERT MESSAGE */



.al-box{
    display: flex;
    position: fixed;
    top: 70px;
    width: 100%;
    height: 100vh;
    background-color: #212121e1;
    justify-content: center;
    z-index: 2;
    
}



.al-content{
    top: 30px;
    margin: 10px;
    width: 20%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}


.al-alertbox{
    width: 100%;
}

.al-content::-webkit-scrollbar {
    display: none;
}


.al-alert-re{
    display: none;
}

.al-alert{
    width: 100%;
}

.al-alertbox img{
 
    width: 100%;
    object-fit: contain;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
   






.al-close-button{
    padding: 15px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    cursor: pointer;
    
}













@media only screen and (max-width: 1199px){

    .help-est1{
        width: 100%;
    }
    
    .help-est2{
        width: 100%;
    }

    .text-section h1{
        font-size: 1.5rem;
    }

}



@media only screen and (max-width: 900px){

    .al-content{

        width: 50%;

    }

}

@media only screen and (max-width: 780px){

    .icon-responsive{
        display: block;
    }

    .text-button h2, a{
        font-size: 22px;
    }
    
    .text-button{
        padding: 15px;
    }

    .links-nav, dropdown-menu{
        display: none !important;
    }

    .inputBox{
        min-width: none;
        width: 100%
    }

    .showmenu{
        display: flex;
    }

    .container-slide{
        display: none;
    }

    .container-slide-responsive{
        display: flex;
    }

    .videobox{
        display: none;
    }

    .videobox-re{
        display: block;
    }


    .re-content{
        height: 100%;
    }

}




@media only screen and (max-width: 370px){

    .container-product img {
        height: 50%;
 
    }

}



